XML practice/lesssons_DTD.dtd

<!ELEMENT lessons (lesson+)>
<!ELEMENT lesson (Title, LastNameTeacher, FirstNameTeacher, DateStart, DateEnd, Time)>
<!ELEMENT Title (#PCDATA)> 
<!ELEMENT LastNameTeacher (#PCDATA)> 
<!ELEMENT FirstNameTeacher (#PCDATA)> 
<!ELEMENT DateStart (#PCDATA)> 
<!ELEMENT DateEnd (#PCDATA)> 
<!ELEMENT Time (#PCDATA)> 
